.order-card {
  border: 1px solid var(--primaryColor);
  width: 33%;
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  transition: 300ms;
}

.order-card:hover {
  cursor: pointer;
  background-color: rgba(var(--primaryColorRGB), 0.2);
}

.order-card .order-icon {
  display: block;
  width: 40%;
  margin: 0px auto;
}
